<a href="https://colab.research.google.com/github/Z3Gu1/Notebooks/blob/main/Coracao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1. Definição do problema

O dataset adotado contem informações referentes a pacientes do hospital de Cleveland. O conjunto de dados consiste nos dados de 303 indivíduos. Há 14 colunas no conjunto de dados (que foram extraídas de um conjunto maior de 75). Não há valores ausentes. A tarefa de classificação é prever se um indivíduo está sofrendo de doença cardíaca ou não. 
O dataset chama "*Cleveland Heart Disease*" e pertence ao acervo site UCI.

**Informações sobre os atributos:**


  01. **idade:** Idade (anos)
  02. **sexo:** Sexo (**1** masculino, **0** feminino)
  03. **cp:** Dores no peito (chest pain) (**1** angina tipica, **2** angina atipica, **3** dor torácica não anginal, **4** assintomático)
  04. **pa:** pressão arterial em repouso (em mm Hg na adimissão ao hospital)
  05. **col:** colesterol mg/dl
  06. **gli:** glicose > 120 mg/dl (**1** verdadeiro, **0** falso)
  07. **ecg:** eletrocardiograma repouso (**0** normal, **1** anormalidades da onda ST-T , **2** hipertrofia ventricular esquerda provável ou definitiva)
  08. **maxbpm:** batimentos cardiacos maximo alcançado
  09. **exang:** exercicio induz angina? (**1** sim, **0** não)
  10. **oldpeak:** depressão do segmento ST induzida pelo exercício em relação ao repouso. Esse atributo mede a depressão do segmento ST do eletrocardiograma (ECG) induzida pelo exercício físico em relação ao repouso. A depressão do segmento ST é uma medida da isquemia miocárdica, que é uma redução do suprimento de sangue ao músculo cardíaco, geralmente devido a uma obstrução nas artérias coronárias. É expresso em milímetros (mm).  **Valores elevados de "Oldpeak" podem indicar uma isquemia miocárdica mais acentuada** e um risco maior de complicações cardíacas.
  11. **slope:**  inclinação do segmento ST (ou elevação do ponto J) no eletrocardiograma (ECG)
      1. indica uma inclinação ascendente do segmento ST durante o pico do exercício, o que é considerado normal e indica menor risco de eventos cardiovasculares futuros
      2. indica um segmento ST plano durante o pico do exercício, o que pode indicar uma doença arterial coronariana em estágio inicial e um risco moderado de eventos cardiovasculares futuros
      3. indica uma inclinação descendente do segmento ST durante o pico do exercício, o que indica uma doença arterial coronariana mais grave e um risco elevado de eventos cardiovasculares futuros
  12. **ca:** número de vasos sanguíneos importantes no coração que foram visualizados durante uma angiografia coronária(**0-3**) coloridas por fluoroscopia.
  13. **thal:** thalassemia, teste de estresse nuclear (**3** normal, **6** defeito fixo, **7** defeito reversível)
  14. **num:** status da doença arterial coronariana diagnosticada pelo exame angiográfico (**0** estreitamento de diâmetro <50%, **1** estreitamento de diâmetro >50%)

In [2]:
import pandas as pd

# Informa o cabeçalho das colunas
colunas = ['idade', 'sexo', 'cp', 'pa', 'col', 'gli', 'ecg', 'maxbpm', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num']

# carga do dataset através de um arquivo
filename = "https://raw.githubusercontent.com/Z3Gu1/Datasets/main/processed.cleveland.data.csv" # este arquivo deve estar dentro da aba "Arquivos" do Colab
heart = pd.read_csv(filename, names=colunas) # se o cabeçalho estiver sendo importado como dados, use o parâmetro skiprows = 1 na função read_csv

# verifica o tipo de iris
print(type(heart))

# exibe as 5 primeiras linhas
heart.head(10)

<class 'pandas.core.frame.DataFrame'>

,idade,sexo,cp,pa,col,gli,ecg,maxbpm,exang,oldpeak,slope,ca,thal,num
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
5,56.0,1.0,2.0,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,0
6,62.0,0.0,4.0,140.0,268.0,0.0,2.0,160.0,0.0,3.6,3.0,2.0,3.0,3
7,57.0,0.0,4.0,120.0,354.0,0.0,0.0,163.0,1.0,0.6,1.0,0.0,3.0,0
8,63.0,1.0,4.0,130.0,254.0,0.0,2.0,147.0,0.0,1.4,2.0,1.0,7.0,2
9,53.0,1.0,4.0,140.0,203.0,1.0,2.0,155.0,1.0,3.1,3.0,0.0,7.0,1

In [3]:
heart.isna().sum()

idade      0
sexo       0
cp         0
pa         0
col        0
gli        0
ecg        0
maxbpm     0
exang      0
oldpeak    0
slope      0
ca         0
thal       0
num        0
dtype: int64